<p *ngIf="!settings"><em>Loading...</em></p>

<form *ngIf="settings" #frm_settings="ngForm" (ngSubmit)="saveSettings(frm_settings)">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="min_file_size">Min File Size (*)</label>
      <input type="text" class="form-control" id="min_file_size" name="min_file_size" required *ngIf="settings" [(ngModel)]="settings.min_file_size">
    </div>
    <div class="form-group col-md-6">
      <label for="max_file_size">Max File Size (*)</label>
      <input type="text" class="form-control" id="max_file_size" name="max_file_size" required *ngIf="settings" [(ngModel)]="settings.max_file_size">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="allowed_extensions">Allowed Extensions (comma seperated) (*)</label>
      <input type="text" class="form-control" id="allow_mimes" name="allow_mimes" placeholder="jpg,png" *ngIf="settings" [(ngModel)]="settings.allow_mimes">
    </div>
    <div class="form-group col-md-6">
      <label for="allowed_extensions">Storage Type</label>
      <select class="form-control" id="store_type" name="store_type" *ngIf="settings" [(ngModel)]="settings.store_type">
        <option value="FS">FS (File System)</option>
        <option value="DB">DB (Database)</option>
      </select>
      <!--<input type="text" class="form-control" id="allowed_extensions" name="store_type" placeholder="FS (File System) or DB (Database)" *ngIf="settings" [(ngModel)]="settings.store_type">-->
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="destination_path">Destination Path (Path on server) (*)</label>
      <input type="text" class="form-control" id="destination_path" name="destination_path" placeholder="C:\Path etc." *ngIf="settings" [(ngModel)]="settings.destination_path">
    </div>
  </div>
  <div class="form-row">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="allow_rename" name="allow_rename" *ngIf="settings" [(ngModel)]="settings.allow_rename">
      <label class="form-check-label" for="allow_rename">Allow Rename (*)</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="allow_override" name="allow_override" *ngIf="settings" [(ngModel)]="settings.allow_override">
      <label class="form-check-label" for="allow_override">Allow Override (*)</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12 ">
      <button type="submit" class="btn btn-primary float-right">Save Settings (*)</button>
    </div>
  </div>
</form>
